<% adresse = "https://flynn.io" %>
<nav class="mnav">
  <ul>
    <li class="brand">
      <a href="https://flynn.io/">
        <img src="/images/flynn-acaf9509.svg" alt="Flynn" />
      </a>
    </li>

    <li class="spacer"></li>

    <li class="item ">
      <a href="https://flynn.io/about">About</a>
    </li>

    <li class="item ">
      <a href="https://flynn.io/docs">Docs</a>
    </li>

    <li class="item ">
      <a href="https://flynn.io/blog">Blog</a>
    </li>

    <li class="item ">
      <a href="https://flynn.io/pricing">Pricing</a>
    </li>

    <li class="item btn">
      <a href="https://flynn.io/docs/installation">Try</a>
    </li>
  </ul>
</nav>
